In [10]:
#importing dataset 
import pandas as pd
fear_greed =  pd.read_csv('../data/fear_greed_index.csv')
sentiment =  pd.read_csv('../data/historical_data.csv')

In [11]:
fear_greed.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [7]:
sentiment.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [22]:
# Clean column names : fear_greed_index
fear_greed.columns = fear_greed.columns.str.strip().str.lower().str.replace(' ', '_')
fear_greed.columns

Index(['timestamp', 'value', 'classification', 'date'], dtype='object')

In [15]:
# Clean column names : historical_data
sentiment.columns = sentiment.columns.str.strip().str.lower().str.replace(' ', '_')
sentiment.columns

Index(['account', 'coin', 'execution_price', 'size_tokens', 'size_usd', 'side',
       'timestamp_ist', 'start_position', 'direction', 'closed_pnl',
       'transaction_hash', 'order_id', 'crossed', 'fee', 'trade_id',
       'timestamp'],
      dtype='object')

In [24]:
# Step 3: Convert date columns to datetime
fear_greed['date'] = pd.to_datetime(fear_greed['timestamp'], dayfirst=True).dt.date

fear_greed['date']

0       1970-01-01
1       1970-01-01
2       1970-01-01
3       1970-01-01
4       1970-01-01
           ...
2639    1970-01-01
2640    1970-01-01
2641    1970-01-01
2642    1970-01-01
2643    1970-01-01
Name: date, Length: 2644, dtype: object

In [31]:
sentiment['date'] = pd.to_datetime(sentiment['timestamp'], unit='ms').dt.date

sentiment['date']

0         2024-10-27
1         2024-10-27
2         2024-10-27
3         2024-10-27
4         2024-10-27
             ...
211219    2025-06-15
211220    2025-06-15
211221    2025-06-15
211222    2025-06-15
211223    2025-06-15
Name: date, Length: 211224, dtype: object

In [ ]:
# Merge on cleaned 'date'
merged = pd.merge(trades, fear_greed[['date', 'classification']], on='date', how='left')
merged

In [30]:
merged.to_csv('data/merged_data.csv', index=False)
print("Merged dataset saved!")

Merged dataset saved!